body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.image_sm{
    width: 120px; 
    height: 120px;
}
.image_md{
    width: 240px; 
    height: 240px;
}

.card{
    display: block;
    width: 30%;
    padding: 10px 20px;
    height: 500px;
    float: left;
    text-align: center;
}

.card img{
    width: auto; 
    height: 240px;
}
.card img:hover { 
    transform: scale(1.5); 
}

.card p{
    color: saddlebrown;
}

.card h2{
    color: chocolate;
}

.title{
    display: block;
    text-align: center;
    padding: 10px;
}
.title img{
    width: auto;
    height: 360px;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    float: right;
}

.menu li{    
   float: left;
   width: 100px;
   height: 100%;
   text-align: center;
}

.menu li a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: chocolate;
    height: 100%;
    padding-top: 20px;
}


.menu li a:hover:not(.active) {
    background-color: chocolate;
    color: white;
}

.menu li a.active{    
    background-color: chocolate;
    color: white;
}

.navbar{
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: white;
    border-bottom:solid 2px chocolate;
    margin: 0;
    padding: 0;
}
.navbar .logo{
    height: 60px;
    width: auto;
}

.bg1{
    background-image: url('../imagenes/2.png');
    background-repeat:no-repeat;
    background-size:contain;
    

    background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  );
}















/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent chocolate;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: chocolate;
  border-radius: 5px;
  border: 3px solid white;
}